# This CODEOWNERS file illustrates the different, valid
# filepath patterns that can be used in order to test
# the expected behavior of the GitHub Action.

# Universal Owner of all files
# * @God

# Owner of all js files
*.js @jsOwner

# Owner of all files in a directory
/node_modules/ @nodeOwner

# Owner of all files in a hidden directory
/.github/ @githubOwner

# Owner of all files in the first level of a directory
src/* @srcOwnerFirstLevel

# Owner of a subdirectory anywhere
objects/ @objectsOwner

# Valid syntax for unowned file
LICENSE